{%extends 'base.html' %}
{% block head%}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% endblock head%}
{% block content %}
<div class="container-fluid my-5">
    <h2 class="text-center mb-4">History</h2>
    <table class="table table-bordered table-striped">
        <thead class="table-primary">
            <tr>
                <th scope="col">S.No</th>
                <th scope="col">Job</th>
                <th scope="col">Arrival</th>
                <th scope="col">Due</th>
                <th scope="col">Pick At</th>
                <th scope="col">Place At</th>
                <th scope="col">Estimated Pickup time</th>
            </tr>
        </thead>
        <tbody>
            {% for coming_jobs in coming_jobs %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ coming_jobs.job_name }}</td>
                <td>{{ coming_jobs.arrival }}</td>
                <td>{{ coming_jobs.due }}</td>
                <td>{{ coming_jobs.pick_at }}</td>
                <td>{{ coming_jobs.place_at }}</td>
                <td>{{ coming_jobs.estimated_pickup_time }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>



{% endblock content %}